<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoniaOnline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoniaOnline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SoniaOnline.Properties.Settings>
            <setting name="LoginCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gameclose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Login_click" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="MapId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Actor_sprite" serializeAs="String">
                <value />
            </setting>
            <setting name="Point_Mainform" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Actor_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Actor_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cam_po" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MapName" serializeAs="String">
                <value />
            </setting>
            <setting name="chat_activated" serializeAs="String">
                <value>False</value>
            </setting>
        </SoniaOnline.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SoniaOnline.Properties.Settings>
            <setting name="Info_k" serializeAs="String">
                <value>Sonia Games</value>
            </setting>
        </SoniaOnline.Properties.Settings>
    </applicationSettings>
</configuration>